---
interface Props {
  stats: Array<{ name: string; value: number }>;
}

const { stats } = Astro.props;
---

<div>
  <ul class="grid grid-cols-3 grid-rows-1 gap-2">
    {
      stats.map(({ name, value }) => (
        <li>
          <p class="text-center text-lg">{value}</p>
          <h2 class="text-center ">{name}</h2>
        </li>
      ))
    }
  </ul>
</div>
